/* author nirav acharya 
    last change 7-12-23
    */
body, header, nav, main, footer, img, h1, ul,section,aside,figure,figcaption,video{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
   
    background-color: whitesmoke;
}

img{
    max-width: 100%;
    display: block;
}


*{
    box-sizing: border-box;
}

figure{
    display: inline-block;
    margin-left: 2em;
}


h1{
    font-style: italic;
    text-align: center;
    color: #debf28;
}


h1{
    font-style: italic;
    text-align: center;
}
nav{
    background-color:rgb(163, 111, 66);
}
nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: block;
    font-size: 1em;
    border-top: 1px solid black;
}
nav li a{
    display: block;
    color:black;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}


main{
     padding: 2%;
     overflow: auto;
     font-family: verdana,Arial, sans-serif;
}



main p{
    font-size: 1.25em;
}


form {
    width: max-content;
    margin: 0 auto;
    font-size: .6em;
    padding: .5em;
    background-color: #d8c87b7b;
}
input,label{
    padding: .2em;
    margin: .5em;
}

form li{
    list-style: none;
    margin-bottom: .3em;
}
form li input{
    margin: .9em;

}

form li label{
    margin: .5em;
}
.footer_content{
    text-align: center;
    font-size: 0.6em;
    text-decoration: underline;
}



button{
    border-radius : 10px;
    background-color: #debf28;
    margin-left:25px;
}


footer{
    text-align: center;
    font-size: 0.65em;
    clear: left;
    color: rgb(240, 210, 153);
    background-color: #373737;
}
footer a{
    color: rgb(250, 212, 142);
    text-decoration: none;
}
/* Media Query for tablet viewport */
@media only screen and (min-width: 786px), print {

    
    form{
        font-size: 1.3em;
    }

    nav{
        font-size: 1.4;
    }

    nav li {
        border-top: none;
        display: inline-block;

        border-right: 1px solid #e5e9fc;
    }
    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }
    .footer_content{
        text-align: center;
        font-size: 1.3em;
        text-decoration: underline;
    }
}

/* Media Query for Desktop Viewport */
@media only screen  and (min-width: 1280px), print { 

        main{
            font-size: 1.5em;
        }
        header{
            padding: 2%;
        }
        nav{
            font-size: 1.5em;
        }
        nav li a{
            padding: 0.5em 1.5em;
        }
        nav li a:hover{
            color: #debf28;
            background-color: rgb(252, 218, 153);
        }

    #info ul{
        margin-left: 5%;
    }
    form {
        font-size: 1.2em;
    }
    .footer_content{
        text-align: center;
        font-size: 1.2em;
        text-decoration: underline;
    }
}
/* Media Query for Print */
@media print {

    body {
      background-color: #fff;
      color: #000;
    }
  }