/* author nirav acharya 
    last change 7-12-23
    */
body, header, nav, main, footer, img, h1, ul,section,aside,figure,figcaption{
    margin: 0;
    padding: 0;
    border: 0;
}

img{
    max-width: 100%;
    display: block;
}

*{
    box-sizing: border-box;
}

h1{
    font-style: italic;
    text-align: center;
    color: #debf28;
    background-color: #000;
}
h1{
    font-style: italic;
    text-align: center;
}
nav{
    background-color:rgb(163, 111, 66);
}
nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: block;
    font-size: 2em;
    border-top: 1px solid black;
}
nav li a{
    display: block;
    color:black;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}


main{
     padding: 2%;
     overflow: auto;
     font-family: verdana,Arial, sans-serif;
}
main p{
    font-size: 1.25em;
}

#info{
    clear: left;
    background-color: #c0caf7;
    padding: 1% 2%;
}

.fig_content{
    display: block;
}
.fig_content h2,p{
    display: inline-block;
   
}


footer{
    text-align: center;
    font-size: 0.65em;
    clear: left;
    color: rgb(240, 210, 153);
    background-color: #181818;
}
footer a{
    color: rgb(250, 212, 142);
    text-decoration: none;
}
/* Media Query for tablet viewport */
@media only screen and (min-width: 550px), print {


    main{
        font-size: 1.3em;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 1px solid #e5e9fc;
    }
    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }
}

/* Media Query for Desktop Viewport */
@media only screen  and (min-width: 769px), print { 

    header{
        padding: 2%;
    }

    figure{
        display: inline-block;
        margin-left: 2em;

    }
    figure img{
        width: 350px;
        height:350px;
        margin: 3em;
    }
    main{
        font-size: 1.7em;
    }
    nav{
        font-size: 1.7;
    }
    nav li a{
        padding: 0.5em 1.5em;
    }
    nav li a:hover{
        color: #debf28;
        background-color: rgb(252, 218, 153);
    }

    #info ul{
        margin-left: 5%;
    }
    main p{
        font-size: 1.2em;
    }
}
/* Media Query for Print */
@media print {

    body {
      background-color: #fff;
      color: #000;
    }
  }